body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#header,
#footer {
  flex: none;
}

#app {
  flex: 1;
}

#footer {
}

img {
  max-width: 100%;
}

.products .card {
  height: 100%;
}

.products img {
  width: calc(100% - 20px);
  margin: 0 auto
}

.product {
  margin: 20px 0 0;
}
